voices/*.*
models/*.*
outputs/*.*
finetune/*.*
config.json
confignew.json
models.json
diagnostics.log
alltalk_environment/conda/bin/python3.10
alltalk_environment/conda/lib/libpython3.10.so.1.0
alltalk_environment/conda/lib/libstdc++.so.6.0.29
alltalk_environment/conda/pkgs/libstdcxx-ng-11.2.0-h1234567_1/lib/libstdc++.so.6.0.29
alltalk_environment/conda/pkgs/openssl-3.0.16-h5eee18b_0/lib/libcrypto.a
alltalk_environment/conda/pkgs/python-3.10.10-h7a1cb2a_2.conda
alltalk_environment/conda/pkgs/python-3.10.10-h7a1cb2a_2/bin/python3.10
alltalk_environment/conda/pkgs/python-3.10.10-h7a1cb2a_2/lib/libpython3.10.so.1.0
alltalk_environment/conda/pkgs/python-3.11.11-he870216_0.conda
alltalk_environment/conda/pkgs/python-3.11.11-he870216_0/bin/python3.11
alltalk_environment/conda/pkgs/python-3.11.11-he870216_0/lib/libpython3.11.so.1.0
alltalk_environment/env/bin/python3.11
alltalk_environment/env/lib/libcrypto.a
alltalk_environment/env/lib/libpython3.11.so.1.0
alltalk_environment/env/lib/libstdc++.so.6.0.29
alltalk_environment/env/lib/python3.11/site-packages/av.libs/libavcodec-2cdd7da0.so.60.3.100
alltalk_environment/env/lib/python3.11/site-packages/av.libs/libx265-d8690e8d.so.199
alltalk_environment/env/lib/python3.11/site-packages/blis/cy.cpython-311-x86_64-linux-gnu.so
alltalk_environment/env/lib/python3.11/site-packages/blis/py.cpython-311-x86_64-linux-gnu.so
alltalk_environment/env/lib/python3.11/site-packages/ctranslate2.libs/libctranslate2-db5a9b25.so.4.1.0
alltalk_environment/env/lib/python3.11/site-packages/ctranslate2/_ext.cpython-311-x86_64-linux-gnu.so
alltalk_environment/env/lib/python3.11/site-packages/gradio/templates/cdn/assets/index-973aa9f2.js.map
alltalk_environment/env/lib/python3.11/site-packages/gradio/templates/frontend/assets/index-397dd2f4.js.map
alltalk_environment/env/lib/python3.11/site-packages/grpc/_cython/cygrpc.cpython-311-x86_64-linux-gnu.so
alltalk_environment/env/lib/python3.11/site-packages/gruut_lang_de/espeak/lexicon.db
alltalk_environment/env/lib/python3.11/site-packages/gruut_lang_de/lexicon.db
alltalk_environment/env/lib/python3.11/site-packages/gruut_lang_en/espeak/lexicon.db
alltalk_environment/env/lib/python3.11/site-packages/gruut_lang_en/lexicon.db
alltalk_environment/env/lib/python3.11/site-packages/gruut_lang_es/espeak/lexicon.db
alltalk_environment/env/lib/python3.11/site-packages/gruut_lang_es/lexicon.db
alltalk_environment/env/lib/python3.11/site-packages/jieba/lac_small/model_baseline/word_emb
alltalk_environment/env/lib/python3.11/site-packages/llvmlite/binding/libllvmlite.so
alltalk_environment/env/lib/python3.11/site-packages/numpy.libs/libopenblas64_p-r0-0cf96a72.3.23.dev.so
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cublas/lib/libcublas.so.11
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cublas/lib/libcublas.so.12
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cublas/lib/libcublasLt.so.11
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cublas/lib/libcublasLt.so.12
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cuda_cupti/lib/libnvperf_host.so
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cuda_nvrtc/lib/libnvrtc.so.12
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_adv.so.9
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_adv_infer.so.8
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_adv_train.so.8
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_cnn_infer.so.8
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_cnn_train.so.8
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_engines_precompiled.so.9
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_engines_runtime_compiled.so.9
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_heuristic.so.9
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_ops.so.9
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_ops_infer.so.8
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_ops_train.so.8
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cufft/lib/libcufft.so.11
alltalk_environment/env/lib/python3.11/site-packages/nvidia/curand/lib/libcurand.so.10
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cusolver/lib/libcusolver.so.11
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cusolver/lib/libcusolverMg.so.11
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cusparse/lib/libcusparse.so.12
alltalk_environment/env/lib/python3.11/site-packages/nvidia/nccl/lib/libnccl.so.2
alltalk_environment/env/lib/python3.11/site-packages/nvidia/nvjitlink/lib/libnvJitLink.so.12
alltalk_environment/env/lib/python3.11/site-packages/onnxruntime/capi/onnxruntime_pybind11_state.cpython-311-x86_64-linux-gnu.so
alltalk_environment/conda/bin/python3.10
alltalk_environment/conda/lib/libpython3.10.so.1.0
alltalk_environment/conda/lib/libstdc++.so.6.0.29
alltalk_environment/conda/pkgs/libstdcxx-ng-11.2.0-h1234567_1/lib/libstdc++.so.6.0.29
alltalk_environment/conda/pkgs/openssl-3.0.16-h5eee18b_0/lib/libcrypto.a
alltalk_environment/conda/pkgs/python-3.10.10-h7a1cb2a_2.conda
alltalk_environment/conda/pkgs/python-3.10.10-h7a1cb2a_2/bin/python3.10
alltalk_environment/conda/pkgs/python-3.10.10-h7a1cb2a_2/lib/libpython3.10.so.1.0
alltalk_environment/conda/pkgs/python-3.11.11-he870216_0.conda
alltalk_environment/conda/pkgs/python-3.11.11-he870216_0/bin/python3.11
alltalk_environment/conda/pkgs/python-3.11.11-he870216_0/lib/libpython3.11.so.1.0
alltalk_environment/env/bin/python3.11
alltalk_environment/env/lib/libcrypto.a
alltalk_environment/env/lib/libpython3.11.so.1.0
alltalk_environment/env/lib/libstdc++.so.6.0.29
alltalk_environment/env/lib/python3.11/site-packages/av.libs/libavcodec-2cdd7da0.so.60.3.100
alltalk_environment/env/lib/python3.11/site-packages/av.libs/libx265-d8690e8d.so.199
alltalk_environment/env/lib/python3.11/site-packages/blis/cy.cpython-311-x86_64-linux-gnu.so
alltalk_environment/env/lib/python3.11/site-packages/blis/py.cpython-311-x86_64-linux-gnu.so
alltalk_environment/env/lib/python3.11/site-packages/ctranslate2.libs/libctranslate2-db5a9b25.so.4.1.0
alltalk_environment/env/lib/python3.11/site-packages/ctranslate2/_ext.cpython-311-x86_64-linux-gnu.so
alltalk_environment/env/lib/python3.11/site-packages/gradio/templates/cdn/assets/index-973aa9f2.js.map
alltalk_environment/env/lib/python3.11/site-packages/gradio/templates/frontend/assets/index-397dd2f4.js.map
alltalk_environment/env/lib/python3.11/site-packages/grpc/_cython/cygrpc.cpython-311-x86_64-linux-gnu.so
alltalk_environment/env/lib/python3.11/site-packages/gruut_lang_de/espeak/lexicon.db
alltalk_environment/env/lib/python3.11/site-packages/gruut_lang_de/lexicon.db
alltalk_environment/env/lib/python3.11/site-packages/gruut_lang_en/espeak/lexicon.db
alltalk_environment/env/lib/python3.11/site-packages/gruut_lang_en/lexicon.db
alltalk_environment/env/lib/python3.11/site-packages/gruut_lang_es/espeak/lexicon.db
alltalk_environment/env/lib/python3.11/site-packages/gruut_lang_es/lexicon.db
alltalk_environment/env/lib/python3.11/site-packages/jieba/lac_small/model_baseline/word_emb
alltalk_environment/env/lib/python3.11/site-packages/llvmlite/binding/libllvmlite.so
alltalk_environment/env/lib/python3.11/site-packages/numpy.libs/libopenblas64_p-r0-0cf96a72.3.23.dev.so
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cublas/lib/libcublas.so.11
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cublas/lib/libcublas.so.12
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cublas/lib/libcublasLt.so.11
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cublas/lib/libcublasLt.so.12
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cuda_cupti/lib/libnvperf_host.so
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cuda_nvrtc/lib/libnvrtc.so.12
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_adv.so.9
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_adv_infer.so.8
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_adv_train.so.8
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_cnn_infer.so.8
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_cnn_train.so.8
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_engines_precompiled.so.9
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_engines_runtime_compiled.so.9
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_heuristic.so.9
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_ops.so.9
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_ops_infer.so.8
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cudnn/lib/libcudnn_ops_train.so.8
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cufft/lib/libcufft.so.11
alltalk_environment/env/lib/python3.11/site-packages/nvidia/curand/lib/libcurand.so.10
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cusolver/lib/libcusolver.so.11
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cusolver/lib/libcusolverMg.so.11
alltalk_environment/env/lib/python3.11/site-packages/nvidia/cusparse/lib/libcusparse.so.12
alltalk_environment/env/lib/python3.11/site-packages/nvidia/nccl/lib/libnccl.so.2
alltalk_environment/env/lib/python3.11/site-packages/nvidia/nvjitlink/lib/libnvJitLink.so.12
alltalk_environment/env/lib/python3.11/site-packages/onnxruntime/capi/onnxruntime_pybind11_state.cpython-311-x86_64-linux-gnu.so
alltalk_environment/env/lib/python3.11/site-packages/scipy.libs/libopenblasp-r0-23e5df77.3.21.dev.so
alltalk_environment/env/lib/python3.11/site-packages/sudachidict_core/resources/system.dic
alltalk_environment/env/lib/python3.11/site-packages/tensorboard_data_server/bin/server
alltalk_environment/env/lib/python3.11/site-packages/tokenizers/tokenizers.cpython-311-x86_64-linux-gnu.so
alltalk_environment/env/lib/python3.11/site-packages/torch/lib/libcusparseLt-f8b4a9fb.so.0
alltalk_environment/env/lib/python3.11/site-packages/torch/lib/libtorch_cpu.so
alltalk_environment/env/lib/python3.11/site-packages/torch/lib/libtorch_cuda.so
alltalk_environment/env/lib/python3.11/site-packages/torch/lib/libtorch_cuda_linalg.so
alltalk_environment/env/lib/python3.11/site-packages/torch/lib/libtorch_python.so
alltalk_environment/env/lib/python3.11/site-packages/triton/_C/libtriton.so
alltalk_environment/env/lib/python3.11/site-packages/triton/third_party/cuda/bin/nvdisasm
alltalk_environment/env/lib/python3.11/site-packages/triton/third_party/cuda/bin/ptxas
alltalk_environment/env/lib/python3.11/site-packages/unidic_lite/dicdir/matrix.bin
alltalk_environment/env/lib/python3.11/site-packages/unidic_lite/dicdir/sys.dic
alltalk_environment/miniconda_installer.sh
