coqui-tts==0.24.3
filelock>=3.13.4
flask[async]==3.1.0
flask-cors==5.0.1
fuzzywuzzy>=0.18.0
ffmpeg-python>=0.2.0
gradio==4.44.1
importlib_metadata>=7.2.1
inputimeout>=1.0.4
Jinja2>=3.1.4
librosa>=0.10.2.post1
local_attention==1.9.10
openai-whisper
onnxruntime-gpu>=1.18.1
pydantic>=2.8.2
python-Levenshtein>=0.25.1
praat-parselmouth>=0.4.4
pyworld>=0.3.4
sounddevice>=0.4.7
soundfile>=0.12.1
spacy>=3.7.1
torchcrepe>=0.0.2
tqdm>=4.66.5
unidic-lite>=1.0.8
uvicorn>=0.29.0
pillow==10.3.0
pypinyin>=0.52.0
hangul_romanize>=0.1.0
word2number>=1.1
cutlet==0.4.0
fugashi==1.3.1
./system/config/fairseq-0.12.4-cp311-cp311-win_amd64.whl; sys_platform == "win32"
./system/config/fairseq-0.12.3.1-cp311-cp311-linux_x86_64.whl; sys_platform == "linux"
piper-tts; sys_platform == "linux"
piper-tts; sys_platform == "darwin"
piper-phonemize==1.1.0; sys_platform == "darwin"
fastapi==0.112.2
plotly==5.24.1
scipy==1.14.1
pyOpenSSL>=24.2.1
langdetect>=1.0.9
