coqui-tts==0.24.3
openai-whisper
ffmpeg-python>=0.2.0
filelock>=3.16.1
fuzzywuzzy
gradio==4.44.1
importlib_metadata>=7.1.0
inputimeout>=1.0.4
Jinja2>=3.1.0
librosa>=0.10.2.post1
local_attention==1.9.10
onnxruntime-gpu>=1.18.0
pydantic==2.10.6
python-Levenshtein>=0.25.1
praat-parselmouth>=0.4.0
pyworld>=0.3.0
sounddevice>=0.4.7
soundfile>=0.12.0
spacy>=3.7.1
torchcrepe>=0.0.2
tqdm>=4.66.0
unidic-lite>=1.0.8
uvicorn>=0.29.0
pillow==10.3.0
fastapi==0.112.2
starlette
pypinyin
pyee
aiofiles
h11
gradio
gradio_client
httpx
httpcore
websockets
pydub
semantic_version
ffmpy
tomlkit
python-multipart
hangul_romanize
word2number
cutlet==0.4.0
fugashi==1.3.1
piper-tts; sys_platform == "linux"
plotly==5.24.1
scipy==1.14.1
pyOpenSSL>=24.2.1
langdetect>=1.0.9
